#english {
    display: none;
}

#japanese {
    display: block;
}

div {
    display: flex;
    justify-content: center;
    width: 100vw;
}

button {
    align-items: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Helvetica Neue, sans-serif;
    background-color: white;
    border-radius: 5px;
    border: gray;
    border-top-style: none;
    border-top-width: medium;
    border-right-style: none;
    border-right-width: medium;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-style: none;
    border-left-width: medium;
    border-style: solid;
    color: gray;
    border-width: 2px;
}

button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}
